@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.service-main {
  padding-top: 150px;
  background: linear-gradient(135deg,
      rgba(55, 95, 128, 0.85) 1%,
      rgba(81, 112, 170, 0.75) 30%),
    url('../../images/services-images/services compressed.webp') center no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 786px) {
  .service-main {
    padding-bottom: 100px;
  }
}

/* .service-main h1 {
  /* line-height: 490px; *
  text-align: center;
  margin-bottom: 0%;
  text-transform: capitalize;
  font-weight: 600;
  color: whitesmoke;
  font-family: "Abel", sans-serif;
  font-size: 30px;
} */

.services-title-header h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  /* color: #0c50a3; */
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

.services-title-header h1::after {
  content: '';
  /* background: #0c50a3; */
  background: #fff;
  display: block;
  height: 2px;
  width: 150px;
  margin: 10px auto 30px;
}

.service-ict{
  margin: 5% 0;
}

.service-ict h3,.service-eng h3{
  color: #0c50a3;
  text-align: center;
}

.service-ict-card {
  /* display: flex;
    justify-content: space-evenly; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 80px;
  margin-bottom: -100px;
}

.services-card {
  width: 330px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 2% auto;
  animation: ease-in;
  cursor: pointer;
  border-bottom: 4px solid #90d91e;
  border-radius: 10px 10px 10px 10px;
  background-color: #fff;
}

.service-ict .services-card li{
  color: gray;
  font-family: "Abel", sans-serif;
  font-size: 17px;
}

.service-ict h3,
.service-eng h3{
  font-size: 24px;
}

.service-ict h4,
.service-eng h4{
  font-size: 20px;
}

.service-ict h3,
.service-ict h4,
.service-eng h3,
.service-eng h4{
  font-family: "Abel", sans-serif;
}

.service-ict .services-card p,
.service-eng .services-card p{
  color: gray;
  font-family: "Abel", sans-serif;
  font-size: 18px;
}

.services-card:hover {
  transform: scale(1.05);
}

.services-card img {
  width: 100%;
  /* object-fit: cover; */
  height: 200px;
}

.services-card .hr{
  background-color: rgba(12, 80, 163, 0.70);
  border: none;
  width: 135px;
  height: 40px;
  position: absolute;
  cursor: pointer;
  display: none;
  border-radius: 0 0 10px 0px;
}

.services-card:hover .hr{
  display: inline;
}

.services-card .hr button{
  padding: 2%;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  cursor: pointer;
}

.services-card .services-content p span{
  color: #90d91e;
  font-size: 18px;
  padding: 0 3%;
}

.services-card .hr:hover{
  background-color: rgba(12, 80, 163, 0.90);
  transition: 0.5s ease-in-out;
}

.services-card .hr button:hover{
  color: whitesmoke;
}

.service-ict .react-content-highlights{
  margin-bottom: 10px;
}

.services-border {
  width: 100%;
  height: 5px;
  margin-top: 10px;
  background-color: #90d91e;
}

.services-card .services-content {
  padding: 2%;
  color: #0c50a3;
}

.react-content-highlights{
  margin: 0 20px;
}

.react-content-highlights li{
  color: #0c50a3;
  font-size: 14px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .services-card {
    width: 280px;
    display: inline-block;
    justify-content: center;
    margin: 4% auto;
  }

  .card__container {
    margin-bottom: 30px;
    width: 100%;
    margin: 3% 0;
  }

  .services-card .hr{
    display: inline;
  }
}

@media only screen and (min-width: 640px) {
  .services-card {
    width: 280px;
    display: inline-block;
    justify-content: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .services-card {
    width: 300px;
    display: inline-block;
    justify-content: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .services-card {
    width: 330px;
    display: inline-block;
    justify-content: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .services-card {
    width: 340px;
    display: inline-block;
    justify-content: center;
  }
}

.department-mision-vision-values-services {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  margin: 0px auto 0px auto;
}

.department-mision-vision-values-services p,
.department-mision-vision-values-services h3,
.engineering-divisions .description p,
.department-manager p,
.department-manager h3 {
  font-family: "Abel", sans-serif;
  text-align: center;
}

.department-mision-vision-values-services p {
  color: gray;
  font-size: 16px;
}

.department-mision-vision-values-services h3 {
  font-size: 20px;
  color: #0c50a3;
  margin-top: 15px;
}

.department-mision-vision-values-services .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #0c50a3;
  background-color: #fff;
}

.department-mision-vision-values-services .container .icon {
  background-color: #0c50a3;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: auto;
}

.department-mision-vision-values-services .container .icon .ico {
  color: white;
  line-height: 50px;
  font-size: 25px;
}

.department-mision-vision-values-services .container .icon .ico-container {
  text-align: center;
  line-height: 70px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .department-mision-vision-values-services {
    /* display: block;
    width: 93%; */
    margin: 50px auto 0px auto;
  }

  .department-mision-vision-values-services .container {
    width: 80%;
    margin: 30px auto;
  }
}

@media only screen and (min-width: 400px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .department-mision-vision-values-services {
    width: 90%;
  }

  .department-mision-vision-values-services .container {
    margin: 30px auto;
    width: 250px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .department-mision-vision-values-services {
    width: 95%;
  }

  .department-mision-vision-values-services .container {
    margin: 30px auto;
    width: 300px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .department-mision-vision-values-services {
    width: 95%;
  }

  .department-mision-vision-values-services .container {
    margin: 30px auto;
    width: 300px;
  }
}

.center-hrz {
  display: flex;
  align-items: center;
  justify-content: center;
}