@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

.Electrical_Engineering-main {
  padding-top: 150px;
  background: linear-gradient(135deg,
      rgba(55, 95, 128, 0.85) 1%,
      rgba(81, 112, 170, 0.75) 30%),
    url('../../../../images/services-images/engineering/Electrical-Engineering/Electrical compressed.webp') center no-repeat fixed;
  background-size: cover;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.Electrical_Engineering-main-header h1,
.department-main h1 {
  /* padding-top: 150px; */
  text-align: center;
  color: white;
  /* font-family: "Abel", sans-serif; */
}
.Electrical_Engineering-main-header p {
  font-family: "Abel", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: whitesmoke;
  margin: 0 100px;
}

/* .electrical-engineering-title-header {
  padding-top: 150px;
} */

.electrical-engineering-title-header h1 {
  text-align: center;
  text-transform: capitalize;
  font-weight: 600;
  /* color: #0c50a3; */
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  margin-bottom: 70px;
}

.electrical-engineering-title-header h1::after {
  content: '';
  /* background: #0c50a3; */
  background: #fff;
  display: block;
  height: 2px;
  width: 150px;
  margin: 10px auto 30px;
}


.electrical-engineering-main-heading {
  /* margin-top: 70px; */
  margin-bottom: 70px;
  /* width: 40%; */
}

.electrical-engineering-main-heading h1 {
  color: #fff;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  /* text-align: center; */
  /* text-align: left; */
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .electrical-engineering-main-heading h1 {
    font-size: 40px;
}
  
}
.department-main h3 {
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 25px;
  margin-bottom: 40px;
}

.department-main img,
.department-manager img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.department-main h6 {
  font-size: 15px;
  font-weight: lighter;
  color: #57606f;
}

.department-main p,
.Electrical_Engineering-service-container .service-card p {
  color: gray;
  font-family: "Abel", sans-serif;
  font-size: 16px;
}

.Electrical_Engineering-service-container .service-card h4 {
  color: #2f3542;
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.department-main h5 {
  font-size: 18px;
  font-family: "Abel", sans-serif;
  color: #2f3542;
}

.department-main {
  margin: 60px 0;
}

.department-manager {
  margin-top: 50px 0;
  display: none;
}

.department-main {
  overflow-x: auto;
}

.department-main .dep-card,
.department-main .pos,
.department-manager {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  width: 200px;
  margin: 10px auto;
  border-radius: 10px;
  border-bottom: 3px solid #90d91e;
}

.department-manager p,
.department-manager h3 {
  font-family: "Abel", sans-serif;
  text-align: center;
}

.container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #0c50a3;
}

.container .icon {
  background-color: #0c50a3;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: auto;
}

.container .icon .ico {
  color: white;
  line-height: 50px;
  font-size: 25px;
}

.container .icon .ico-container {
  text-align: center;
  line-height: 70px;
}

.Electrical_Engineering-services {
  width: 93%;
  margin: auto;
  
}

.Electrical_Engineering-service-container {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.Electrical_Engineering-service-container .service-card {
  box-shadow: rgba(117, 117, 126, 0.2) 0px 7px 29px 0px;
  width: 280px;
  border-bottom: 3px solid #90d91e;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}

.Electrical_Engineering-service-container .service-card img {
  width: 100%;
  height: 200px;
}

.Electrical_Engineering-service-container .service-card .content {
  margin: 10px;
}

.Electrical_Engineering-services .heading {
  margin: auto;
  margin-top: 60px;
width: 250px;
}

.department-main .heading {
  margin-top: 40px;
  width: 250px;
}

.Electrical_Engineering-services h3,
.department-main h3 {
  text-align: center;
  /* background-color: yellow; */
  color: white;
  padding: 7px;
  font-weight: lighter;
  border-radius: 15px 0 15px 0;
  transition: 0.5s;
  /* border-bottom: 3px solid #90d91e; */
  font-family: "Abel", sans-serif;
  font-size: 20px;
}

.Electrical_Engineering-services h3:hover,
.department-main h3:hover {
  transform: rotate(360deg);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    margin: 30px auto;
  }

  /* .Electrical_Engineering-main h1 {
    font-size: 25px;
  } */

  .Electrical_Engineering-service-container .service-card {
    margin: 30px auto;
    width: 90%;
  }

  .Electrical_Engineering-main h1,
  .department-main h1 {
    /* padding-top: 90px; */
    text-align: center;
    color: white;
    /* font-family: "Abel", sans-serif; */
  }
  .Electrical_Engineering-main p {
    font-family: "Abel", sans-serif;
    /* text-align: center; */
    font-size: 18px;
    font-weight: lighter;
    /* color: whitesmoke; */
    margin: 0 10px;
  }
}

@media only screen and (min-width: 400px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .Electrical_Engineering-service-container .service-card {
    margin: 30px auto;
  }

  .container {
    margin: 30px auto;
    width: 250px;
  }

  .department-main {
    width: 85%;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .department-main {
    width: 95%;
    margin: auto;
  }

  .container {
    margin: 30px auto;
    width: 300px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .department-main {
    width: 95%;
    margin: auto;
  }

  .department-main {
    width: 95%;
    margin: auto;
  }

  .container {
    margin: 30px auto;
    width: 300px;
  }
}
