@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.footer-content-main{
display: flex;
flex-wrap: wrap;
/* border:3px dotted rgb(255, 0, 183) ;  *
background-color: #4f85c5;
}
.footer-left-side{
  color: #ffffff;
  background-image: linear-gradient(
    15deg,
    hsl(240deg 95% 22%) 0%,
    hsl(219deg 100% 33%) 9%,
    hsl(211deg 100% 39%) 17%,
    hsl(201deg 100% 39%) 25%,
    hsl(181deg 100% 32%) 34%,
    hsl(154deg 100% 38%) 47%,
    hsl(124deg 95% 44%) 83%
  );
  width:30%;
  /* border:3px dotted rgb(0, 255, 149) ;  *
  text-align: right;
  padding: 50px;
  height:230px;
  font-size: 21px;
  font-weight: 50;
  /* border:3px dotted rgb(119, 0, 255) ; *
}
.footer-left-side h4{
  /* position: relative; *
  font-size: 21px;
  font-weight: 50;
  /* border:3px dotted rgb(119, 0, 255) ; *
}
.input-container {
  /* position: relative; *
  display: inline-flex;
  /* border:3px dotted rgb(119, 0, 255) ; *
  width:380px;
  margin: 20px 0px;
}
.footer-social-mediaIcons{
  /* position: relative; */
  /* border:3px dotted rgb(119, 0, 255) ; *
  height:30px;
}
.footer-social-mediaIcons a img{
  /* position: relative; */
  /* border:3px dotted rgb(119, 0, 255) ; *
  height:30px;
}

.curved-input {
  position: relative;
  border-radius: 20px 0px 0px 20px;
  padding: 5px;
  /* padding-right: 17px; *
  right:-17px;
  border: 2px solid white;
  outline: none;
  font-size: 16px;
  width:185px;
  background-color:  transparent;
  color: #ffffff;
  
}

.subscribe-button {
  border-radius: 20px 20px 20px 20px;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  width:185px;
  color: black;
  background-color:  #ffffff;
  cursor: pointer;
}

.fotter-right-side{
  background-color: #4f85c5;
 color: #ffffff;
  width:auto;
  /* display: flex; */
  /* border:3px dotted rgb(119, 0, 255) ;  *
}
.footer-details{
  display: flex;
  flex:wrap;
  justify-content: center;
}
.footer-details-about-section{
  color: #ffffff;
  width:270px;
  margin: 20px;
}
.cont-info span{
 display: flex;
}
.cont-info p{
  color: #ffffff;
}
.footer-details-services-section{
  color: #ffffff;
  width:270px;
  margin: 20px;
}
.footer-details-contact-section{
  width:270px;
  color: #ffffff;
  margin: 20px;
}
.copyright p{
  color: #ffffff;
}
.copyright p span{
  color: #ffffff;
}
.footer-link .footer-links{
  color: #ffffff;
}
.footer-social-mediaIcons {
 right:0;
 min-width:100%;
 /* border:3px dotted rgb(119, 0, 255) ;  *
  }
.footer-social-mediaIcons a img{
width:40px;
}
/* Media Queries */

/* Small devices (portrait phones) *
@media only screen and (max-width: 480px) {
  .footer-content-main {
    flex-direction: column;
  }

  .footer-left-side,
  .fotter-right-side {
    width: 100%;
  }
}
/* Medium devices (landscape phones and tablets) *
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .footer-content-main {
    flex-direction: column;
  }

  .footer-left-side,
  .fotter-right-side {
    width: 100%;
  }
}

/* Large devices (laptops and desktops) *
@media only screen and (min-width: 769px) {
  .footer-content-main {
    justify-content: space-between;
  }

  .footer-left-side {
    width: 29%;
  }

  .fotter-right-side {
    width: auto;
  }
} */


/* New Style */

#body {
  background: #eef8ff;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

footer {
  width: 100%;
  /* position: absolute;
  bottom: 0; */
  /* background: linear-gradient(to right, #00093c, #2d0b00); */
  background-color: #4f85c5;
  padding: 80px 0 15px;
  /* border-top-left-radius: 125px; */
  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  /* flex-basis: 25%; */
  padding: 10px;
}

.col:nth-child(2), .col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 200px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}

.col h2 {
  width: fit-content;
  margin-bottom: 20px;
  position: relative;
  color: #fff;
}

.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
  color: #fff;
}

.footer-list li {
  list-style: none;
  margin-bottom: 12px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}

/* form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
  color: #fff;
}

form .far {
  font-size: 18px;
  margin-right: 10px;
}

form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}

form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
  color: #fff;
}

form button .fas {
  font-size: 16px;
  color: #ccc;
} */

.social-icons {
  float: right;
}

.social-icons .fab {
  width: 25px;
  height: 25px;
  /* border-radius: 50%; */
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  /* background: #fff; */
  margin-left: 5px;
  cursor: pointer;
}

hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #ccc;
  margin: 80px auto 20px auto;
}

.copyright {
  text-align: center;
  color: #fff;
  padding: 0px 30px;
}

.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 25px;
  left: 0;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100%;
  }
}

@media only screen and (max-width: 700px) {
  /* footer {

  } */
  .col {
    flex-basis: 100%;
  }
  
  .col:nth-child(2), .col:nth-child(3) {
    flex-basis: 100%;
  }
}

#newsletter-header {
  text-align: right;
}

@media only screen and (min-width: 500px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
}


#newsletter-form {
  position: relative;
  margin: 30px 0px 30px 60px;
}

#newsletter-form input {
  border: 1px solid #fff;
  color: #fff;
  outline: none;
  border-radius: 25px;
  height: 30px;
  width: 80%;
  padding-left: 25px;
  background-color: transparent;
}

#newsletter-form input::placeholder {
  color: #fff;
}

#newsletter-form button {
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #fff;
  color: #6fb73f;
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 150px;
  height: 32px;
}

@media only screen and (max-width: 700px) {
  #newsletter-form {
    margin: 30px 0px;
  }

  .col #newsletter-header {
    text-align: left;
  }

#newsletter-form button {
  width: 125px;
}


}

@media only screen and (max-width: 500px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}