@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");

* {
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

.ict-main {
  padding-top: 150px;
  background: linear-gradient(135deg,
  rgba(55, 95, 128, 0.85) 1%,
  rgba(81, 112, 170, 0.75) 30%),
    url('../../../images/services-images/ict/ict-background_1 compressed.webp') center no-repeat fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box !important;
}

.ict-title-header h1 {
  text-align: center;
  /* margin-bottom: 3%; */
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  margin: 15px 0;
  border-radius: 30px;
  font-size: 35px;
  margin-bottom: 70px;
}

.ict-title-header h1::after {
  content: '';
  background: #fff;
  display: block;
  height: 3px;
  width: 150px;
  margin: 10px auto 30px;
}

.department-main {
  padding: 0px 10px;
  width: 90%;
}

.ict-main h1,
.department-main h1 {
  /* line-height: 380px; */
  text-align: center;
  color: white;
  /* font-family: "Abel", sans-serif; */
}

.department-main h3 {
  text-align: center;
  /* font-family: "Abel", sans-serif; */
  font-size: 25px;
  margin-bottom: 40px;
}

.department-main img,
.department-manager img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.department-main h6 {
  font-size: 15px;
  font-weight: lighter;
  color: #57606f;
}

.department-main p,
.ict-service-container .service-card p {
  color: gray;
  /* font-family: "Abel", sans-serif; */
  font-size: 16px;
}

.ict-service-container .service-card h4 {
  color: #2f3542;
  /* font-family: "Abel", sans-serif; */
  font-size: 20px;
}

.department-main h5 {
  font-size: 18px;
  /* font-family: "Abel", sans-serif; */
  color: #2f3542;
}

.department-main {
  margin: 60px 0;
}

.department-manager {
  margin-top: 50px 0;
  display: none;
}

.department-main {
  overflow-x: auto;
}

.department-main .dep-card,
.department-main .pos,
.department-manager {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
  width: 200px;
  margin: 10px auto;
  border-radius: 10px;
  border-bottom: 3px solid #90d91e;
  background-color: #fff;
}

.department-mision-vision-values {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 93%;
  margin: 80px auto;
}

.department-mision-vision-values p,
.department-mision-vision-values h3,
.department-manager p,
.department-manager h3 {
  /* font-family: "Abel", sans-serif; */
  text-align: center;
}

.department-mision-vision-values p {
  color: gray;
  font-size: 16px;
}

.department-mision-vision-values h3 {
  font-size: 20px;
  color: #0c50a3;
  margin-top: 15px;
}

.department-mision-vision-values .container {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 3px solid #0c50a3;
  background-color: #fff;
}

.department-mision-vision-values .container .icon {
  background-color: #0c50a3;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: auto;
}

.department-mision-vision-values .container .icon .ico {
  color: white;
  line-height: 50px;
  font-size: 25px;
}

.department-mision-vision-values .container .icon .ico-container {
  text-align: center;
  line-height: 70px;
}

.ict-services {
  width: 93%;
  margin: auto;
}

.ict-service-container {
  width: 100%;
  padding: 5% 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.ict-service-container .service-card {
  box-shadow: rgba(117, 117, 126, 0.2) 0px 7px 29px 0px;
  width: 280px;
  border-bottom: 3px solid #90d91e;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}

.ict-service-container .service-card img {
  width: 100%;
  height: 200px;
}

.ict-service-container .service-card .content {
  margin: 10px;
}

.ict-services .heading,
.ict-projects .heading,
.department-main .heading {
  width: 220px;
  margin: auto;
}

.department-main .heading {
  margin-top: 40px;
}

.ict-main-heading {
  /* margin-top: 70px; */
  margin-bottom: 70px;
  /* width: 40%; */
}

.ict-main-heading h1 {
  color: #fff;
  text-shadow: 2px 2px 10px black;
  font-weight: bold;
  /* text-align: center; */
  /* text-align: left; */
  font-size: 50px;
}

@media only screen and (max-width: 600px) {
  .ict-main-heading h1 {
    font-size: 40px;
}
}


.ict-services h3,
.ict-projects h3,
.department-main h3 {
  text-align: center;
  background-color: #0c50a3;
  color: white;
  padding: 7px;
  font-weight: lighter;
  border-radius: 15px 0 15px 0;
  transition: 0.5s;
  border-bottom: 3px solid #90d91e;
  /* font-family: "Abel", sans-serif; */
  font-size: 20px;
}

.ict-services h3:hover,
.ict-projects h3:hover,
.department-main h3:hover {
  transform: rotate(360deg);
}

.ict-projects .project-card {
  box-shadow: rgba(117, 117, 126, 0.2) 0px 7px 29px 0px;
  width: 300px;
  margin: 10px 0;
  border-bottom: 3px solid #0c50a3;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
}

.ict-projects {
  margin: 60px auto 0px auto;
  width: 80%;
  padding-bottom: 60px;
}

.ict-projects .projects-card-container {
  margin: 40px 0 0 0;
}

.ict-projects .project-card img {
  width: 100px;
  height: 100px;
  margin: auto;
}

.ict-projects .project-card h4 {
  color: #2f3542;
  /* font-family: "Abel", sans-serif; */
  font-size: 20px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .department-mision-vision-values {
    /* display: block;
    width: 93%; */
    margin: 50px auto;
  }

  .department-mision-vision-values .container {
    width: 80%;
    margin: 30px auto;
    background-color: #fff;
  }

  /* .ict-main h1 {
    font-size: 25px;
  } */

  .ict-service-container .service-card {
    margin: 30px auto;
    width: 90%;
  }
}

@media only screen and (min-width: 400px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ict-projects {
    margin: 60px auto 0px auto;
    width: 80%;
  }

  .ict-service-container .service-card {
    margin: 30px auto;
    background-color: #fff;
  }

  .department-mision-vision-values {
    width: 90%;
  }

  .department-mision-vision-values .container {
    margin: 30px auto;
    width: 250px;
    background-color: #fff;
  }

  .department-main {
    width: 85%;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .department-main {
    width: 95%;
    margin: auto;
  }

  .department-mision-vision-values {
    width: 95%;
  }

  .department-mision-vision-values .container {
    margin: 30px auto;
    width: 300px;
    background-color: #fff;
  }

  .ict-projects {
    margin: 60px auto 0px auto;
    width: 90%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .department-main {
    width: 95%;
    margin: auto;
  }

  .department-main {
    width: 95%;
    margin: auto;
  }

  .department-mision-vision-values {
    width: 95%;
  }

  .department-mision-vision-values .container {
    margin: 30px auto;
    width: 300px;
    background-color: #fff;
  }

  .ict-projects {
    margin: 60px auto 0px auto;
    width: 90%;
  }
}