@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
/*Header styling ends*/


/* New styling */
#header-body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  height: 100;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
}

/* HEADER */

header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
  background-color: #fff;
  /* padding: 0px 20px; */
  box-shadow: 0px 10px 52px -2px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0px 10px 52px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 52px -2px rgba(0,0,0,0.3);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .links li a {
  color: black;
}

.navbar .links li a.active {
  color: #94C93D;
  border-top: #94C93D 4px solid;
  padding-top: 15px;
}

.navbar .links li a:hover {
  color: #94C93D;
  border-top: #94C93D 4px solid;
  padding-top: 15px;
}

/* Add a bar on top of the links when hovered or active */
/* .navbar .links > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  /* left: 0; *
  width: 50px;
  height: 4px; /* Change the height of the bar as desired *
  background-color: #94C93D; /* Change the color of the bar as desired *
  transform: scaleX(0); /* Initially, the bar has zero width *
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Show the bar on hover or when the link is active *
.navbar .links > li > a:hover::before,
.navbar .links > li > a.active::before {
  transform: scaleX(1); /* Scale the bar to full width on hover or when active *
} */

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  /* margin-right: 30px; */
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* MOBILE NAVBAR MENU */
.mobile-navbar {
  display: none;
  position: fixed;
  right: 2rem;
  top: 60px;
  /* height: 0; */
  height: auto;
  width: 300px;
  /* background: rgba(255, 255, 255, 0.1); */
  background-color: #fff;
  /* backdrop-filter: blur(15px); */

  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 1000;
  /* box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.75); */
  box-shadow: 
  /* 8px 0px 8px -4px rgba(0, 0, 0, 0.3), */
              /* -8px 0px 8px -4px rgba(0, 0, 0, 0.3), */
              0px 8px 13px -4px rgba(0, 0, 0, 0.3);
}

.none {
  display: none;
}

/* .mobile-navbar .open {
  height: 240px!important;
  display: block;
} */

.mobile-navbar li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-navbar li a {
  color: black;
}

.mobile-navbar li a:hover {
  color: #94C93D;
}

.mobile-navbar li a.active {
  color: #94C93D;
}

.mobile-navbar .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header-right-buttons{
  display: flex;
  /* width:500px; */
  height: 40px;
  /* justify-content: space-between; */
  margin: 20px 0px;
  /* border: 2px dotted blue; */
  padding:0px 10px;
  }
  .freedemo-button-outer{
  color:#90d91e;
  margin-right: 30px;
  background: rgb(14,61,226);
  background: linear-gradient(90deg, rgba(14,61,226,1) 0%, rgba(39,213,38,0.9136904761904762) 100%);
  /* width:130px; */
  /* border: 1px dotted red; */
  border-radius:20px;
  padding:2px;
  border:none;
  cursor: pointer;
  }
  .freedemo-button-inner{
  background-color: white;
  /* padding:3px 12px; */
  border-radius:21px;
  width:124px;
  padding:8px 0px;
  padding-right: 2px;
  font-weight: bold;
  font-size: 17px;
  }
  .header-register{
    background: rgb(14,61,226);
    background: linear-gradient(90deg, rgba(14,61,226,1) 0%, rgba(39,213,38,0.9136904761904762) 100%);
    width:110px;
    padding: 10px;
    color: white;
    border:none;
    border-radius: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    /* border: 1px dotted red; */
    cursor: pointer;
    
  }
  .header-register:hover{
    background: linear-gradient(-45deg, rgba(39, 213, 38, 0.9136904761904762), rgba(14, 61, 226, 1));
    background-size: 400% 400%; 
    animation: gradient 1s ease infinite;
  }

/* RESPONSIVE DESIGN */

@media (max-width: 1050px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
    color: black;
  }

  .mobile-navbar {
    display: block;
  }
  .header-right-buttons{
    display: none;
  }
  .freedemo-button-outer{
    width: 100%;
  }
  .freedemo-button-inner {
    width: 100%;
  }
  .header-register {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .mobile-navbar {
    left: 2rem;
    width: unset;
  }
}

.nav-logo img {
  width: 200px;
}

.list li ul.dropdown li {
  display: block;
}

/* ... Your previous CSS ... */

/* DROPDOWN MENU */
.dropdown {
  background: #fff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* width: 100px; */
  /* padding: 10px; */
  /* color: black; */
  position: absolute;
  z-index: 999;
  display: none;
  /* transition: 0.3s ease; */
  box-shadow: 
  8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              -8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              0px 8px 13px -4px rgba(0, 0, 0, 0.3);
}

/* Make the dropdown visible when the parent li is hovered */
.navbar .links li:hover .dropdown {
  display: block;
}

/* Additional styles for the dropdown items */
.dropdown li {
  list-style: none;
  padding: 5px 10px;
  /* margin: 5px; */
  /* text-align: center; */
}

.dropdown a li {
  color: grey;
  text-decoration: none;
}

/* Add specific hover styles for the last child */
.dropdown li:hover {
  /* Add your hover styles here */
  background-color: #94C93D; /* Change the color on hover as desired */
  color: #fff;
}

.dropdown .last-navlink:hover {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.dropdown li:hover {
  color: #fff;
}

.dontShow {
  display: none;
}

.show {
  display: block;
}

@media only screen and (max-width: 1050px) {
  .dropdown-who-we-are {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 100px; */
    /* padding: 10px; */
    /* color: black; */
    position: absolute;
    top: 90px;
    z-index: 999;
    /* display: none; */
    /* transition: 0.3s ease; */
    box-shadow: 
  8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              -8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              0px 8px 13px -4px rgba(0, 0, 0, 0.3);
  }
  
  /* Make the dropdown-who-we-are visible when the parent li is hovered */
  .navbar .links li:hover .dropdown-who-we-are {
    display: block;
  }
  
  /* Additional styles for the dropdown-who-we-are items */
  .dropdown-who-we-are li {
    list-style: none;
    padding: 5px 10px;
    /* margin: 5px; */
    /* text-align: center; */
  }
  
  .dropdown-who-we-are a li {
    color: grey;
    text-decoration: none;
  }
  
  .dropdown-who-we-are a li:hover {
    background-color: #94C93D; /* Change the color on hover as desired */
    /* width: 100%; */
    color: #fff;
  }

  .dropdown-who-we-are a .last-navlink:hover {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  
  .dropdown-who-we-are li a:hover {
    color: #fff;
  }

  /* Services */
  .dropdown-services {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 100px; */
    /* padding: 10px; */
    /* color: black; */
    position: absolute;
    top: 190px;
    z-index: 999;
    /* display: none; */
    /* transition: 0.3s ease; */
    box-shadow: 
  8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              -8px 0px 8px -4px rgba(0, 0, 0, 0.3),
              0px 8px 13px -4px rgba(0, 0, 0, 0.3);
  }
  
  /* Make the dropdown-services visible when the parent li is hovered */
  .navbar .links li:hover .dropdown-services {
    display: block;
  }
  
  /* Additional styles for the dropdown-services items */
  .dropdown-services li {
    list-style: none;
    padding: 5px 10px;
    /* margin: 5px; */
    /* text-align: center; */
  }
  
  .dropdown-services a li {
    color: grey;
    text-decoration: none;
  }
  
  .dropdown-services a li:hover {
    background-color: #94C93D; /* Change the color on hover as desired */
    /* width: 100%; */
    color: #fff;
  }

  .dropdown-services a .last-navlink:hover {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
  }
  
  .dropdown-services li a:hover {
    color: #fff;
  }
}